<% @bathrooms.each do |bathroom| %>
<br></br>
<p>
  <p><label>Store Name:</label> <%= bathroom.store_name %></p>
  <p><label>Store Address:</label> <%= bathroom.address %></p>
  <p><label>Wheelchair Acessibility:</label> <%= bathroom.wheelchair_access %>
  <p><label>Family Friendly:</label> <%= bathroom.family_friendly %></p>
  <p><label>Rating: </label>
  <% if bathroom.rating_average.nil? %>
    No Reviews
    <% else %>
    <%= bathroom.rating_average.round(1) %>
    (<%= bathroom.rating_count %>)
    <% end %>
  <p>
  <p>
  <label>Distance to Bathroom: </label> <%= distance_uom(bathroom.distance_to([@lat, @lon], :km)) %>
  </p>
  <% if allow_new_rating?(bathroom) %>
    <form action="/bathroom/<%= bathroom.id %>/rating" method="POST">
      <%= erb :'/ratings', { locals: { bathroom:bathroom }} %>
      <input type="submit" value ="Submit">
    </form>
    <% else %>
    <% bathroom.ratings.each do |rating| %>
      <% if rating.user_id == current_user.id %>
        <form action="/rating/<%= rating.id %>" method="POST">
        <input name="_method" type="hidden" value="delete">
        <button class="btn btn-default" type="submit">
          Delete Review
        </button>
      <% end %>
    <% end %>
  <% end %>
  </p>
<% end %>

<br></br>
