<% @bathrooms.each do |bathroom| %>
<br></br>
<div class="well well-sm">
<br></br>
<p>
<ul class="list-group">
  <li class="list-group-item"><label>Store Name:</label> <%= bathroom.store_name %></li>
  <li class="list-group-item"><label>Store Address:</label> <%= bathroom.address %></li>
  <li class="list-group-item"><label>Wheelchair Acessibility:</label> <%= bathroom.wheelchair_access %></li>
  <li class="list-group-item"><label>Family Friendly:</label> <%= bathroom.family_friendly %></li>
  <li class="list-group-item"><label>Rating: </label>
  <% if bathroom.rating_average.nil? %>
    No Reviews
    <% else %>
    <%= bathroom.plural_rating(bathroom.rating_average) %>
    (<%= bathroom.plural_count(bathroom.rating_count) %>)
    <% end %>
  </li>
  <li class="list-group-item"><label>Distance to Bathroom: </label> <%= distance_uom(bathroom.distance_to([@lat, @lon], :km)) %> <a href="http://www.maps.google.com?q=loc: <%= bathroom.latitude %>,<%= bathroom.longitude %>" class="btn btn-info">Get Directions</a></li>
  <br></br>
    <% if allow_new_rating?(bathroom) %>
      <form action="/bathroom/<%= bathroom.id %>/rating" method="POST">
        <%= erb :'/ratings', { locals: { bathroom:bathroom }} %>
        <input class="btn btn-info" type="submit" value ="Submit Rating">
      </form>
      <% else %>
      <% bathroom.ratings.each do |rating| %>
        <% if rating.user_id == current_user.id %>
          <form action="/rating/<%= rating.id %>" method="POST">
            <input name="_method" type="hidden" value="delete">
            <button class="btn btn-info" type="submit">
            Delete Rating
            </button>
          </form>
        <% end %>
      <% end %>
    <% end %>
  </p>
</div>
<% end %>
<br></br>
